<launch>
  <include file="$(find sp_admiral)/launch/load_map.launch"/>
  <rosparam command="load" file="$(find sp_admiral)/param/admiral.yaml" ns="/sp/admiral"/>

  <node name="admiral" pkg="sp_admiral" type="admiral.py" ns="/sp" output="screen">
    <param name="namespace" type="str" value="/sp/admiral"/>
  </node>
</launch>