<launch>
  <include file="$(find sp_core)/launch/load_map.launch"/>
  <include file="$(find sp_core)/launch/load_params.launch"/>
  <include file="$(find sp_admiral)/launch/viz.launch"/>

  <node name="admiral" pkg="sp_admiral" type="admiral.py" ns="/sp" output="screen" required="True">
    <param name="namespace" type="str" value="/sp/admiral"/>
  </node>
  <!-- <node name="admiral_viz" pkg> -->
</launch>